<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    {% include 'sidebar.html' %}
    <div style="padding: 24px;">
        <h1>Upload a File</h1>
        <form action="/file_upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <select name="my_dropdown" id="my_dropdown">
                {# Expecting an optional `display_names` dict passed to the template mapping option -> label #}
                {% for option in options %}
                    {% set label = display_names[option] if display_names is defined and option in display_names else option %}
                    <option value="{{ option }}" {% if option == selected_option %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>